@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

.char-comp {
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 2px;
  border: 1px solid black;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}
